%h1 Welcome!

%h3 Your upcoming events:

%table{style: "width: '100%'"}
  %thead
    %th Title
    %th Desc
    %th Participants
    %th Calendar ID
    %th When
  - @events.each do |e|
    %tr
      %td.title= e.title
      %td.description= e.description
      %td.participants= e.participants
      %td.calendar= e.calendar_id
      %td.when= e.when

