!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "ShadowCal"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "header_includes"

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      = link_to "ShadowCal.com", :dashboard, { class: 'navbar-brand' }
      %button.navbar-toggler{ type: 'button', 'data-toggle' => 'collapse', 'data-target' => '#navbarSupportedContent', 'aria-controls' => 'navbarSupportedContent', 'aria-expanded' => 'false', 'aria-label' => "Toggle navigation"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          - if user_signed_in?
            %li{ class: 'nav-item ' + active_class(dashboard_path)}= link_to "Home", :dashboard, { class: 'nav-link' }
            %li{ class: 'nav-item ' + active_class(new_sync_pair_path)}= link_to "New Shadow", new_sync_pair_path, { class: 'nav-link' }
            %li.nav-item= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link'
          - else
            %li.nav-item= link_to "Join By Connecting Google Account", omniauth_authorize_path(resource_name, 'google_oauth2'), { class: 'nav-link' }

    .container
      .row
        #content.col-md-12.py-2
          - flash.each do |key, value|
            = content_tag(:div, value, class: "alert alert-#{key}")
          = yield


    = yield :extra_javascripts

    - # Starts the app, goes last.
    = javascript_include_tag "application"

